* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Kanit', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: auto;
}

.error {
    font-size: 13px;
    font-weight: 300;
    color: #a00000;
}

.group {
    margin-bottom: 0.75em;
}